/*------------------------- International ---------------------------*/

/*----------------------------- Navbar ------------------------------*/
.navground, .dropground{
    background-color:#fff;
}
/*----------------------------------- Contact --------------------------*/
.conl{
    background-color: #f0f0f0;
}
.formm{
    padding: 8.2rem;
}
/*----------------------------------- Footer -----------------------------*/
footer{
    background-color:#dcdcdc;
    height:350px;
    text-align:center;
    padding: 6rem;
}
.fh{
    font-size: 47px;
}
.f {
    font-size:22px;
}

